<script type='text/x-handlebars-template' id='wsp_ui_structure'>
    <div class="container-fluid">
        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
            <li class="active"><a href="#wsp-landing" data-toggle="tab">Overview</a></li>
            <li><a href="#wsp-tool" data-toggle="tab">Climate monitoring</a></li>
        </ul>
        <div id="wsp-tab-content" class="tab-content">

            <div class="tab-pane active" id="wsp-landing">
                <div class='row'>
                    <div class='col-xs-2'>
                        <h4>{{{selectable_layers}}}</h4>
                           <input type="checkbox" id="population_landscan" value="" checked><label data-role="population_landscan" for="population_landscan">{{{population_landscan}}}</label>
                           <label><input type="checkbox" value="">{{{cultivated_land_gaez_2010}}}</label>











                        <div class="checkbox" data-role="cultivated_land_gaez_2010">
                            <label><input type="checkbox" value="">{{{cultivated_land_gaez_2010}}}</label>
                        </div>
                        <div class="checkbox" data-role="irrigated_areas_solaw_2012">
                            <label><input type="checkbox" value="">{{{irrigated_areas_solaw_2012}}}</label>
                        </div>
                        <div class="checkbox" data-role="rainfed_land_gaez">
                            <label><input type="checkbox" value="">{{{rainfed_land_gaez}}}</label>
                        </div>
                        <div class="checkbox" data-role="wheat">
                            <label><input type="checkbox" value="">{{{wheat}}}</label>
                        </div>
                        <h4>Administrative Boundaries</h4>
                        <div class="checkbox" data-role="eco_region">
                            <label><input type="checkbox" value="">{{{eco_region}}}</label>
                        </div>
                    </div>
                    <div class='col-xs-10'>
                        <div data-role="map" style="height: 700px; overflow: hidden;"></div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="wsp-tool">
                {{#each box}}
                    <div id='{{box_id}}'>
                        <div class='row'>
                            <div class='col-xs-12'>
                                <h1>{{{box_title}}}</h1>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-xs-4'>
                                <select style='width: 100%;' data-role="dd" class='select2'>
                                </select>
                            </div>
                            <div class='col-xs-2'>
                                <div class="checkbox" data-role="anomaly">
                                    <label><input type="checkbox" value="">{{{anomaly}}}</label>
                                </div>
                            </div>
                            <div class='col-xs-2'>
                                <div class="checkbox" data-role="anomaly_dpy">
                                    <label><input type="checkbox" value="">{{{anomaly_dpy}}}</label>
                                </div>
                            </div>
                            {{#if this.addZscore}}
                                <div class='col-xs-2'>
                                    <div class="checkbox" data-role="zscore">
                                        <label><input type="checkbox" value="">{{{z_score}}}</label>
                                    </div>
                                </div>
                            {{/if}}
                        </div>
                        <hr>
                        <div data-role='box-content' data-role="chart-content">
                            <div class='row'>
                                <div class='col-xs-2'>
                                    <h4>{{{selectable_layers}}}</h4>
                                    <div class="checkbox" data-role="population_landscan">
                                        <label><input type="checkbox" value="">{{{population_landscan}}}</label>
                                    </div>
                                    <div class="checkbox" data-role="cultivated_land_gaez_2010">
                                        <label><input type="checkbox" value="">{{{cultivated_land_gaez_2010}}}</label>
                                    </div>
                                    <div class="checkbox" data-role="irrigated_areas_solaw_2012">
                                        <label><input type="checkbox" value="">{{{irrigated_areas_solaw_2012}}}</label>
                                    </div>
                                    <div class="checkbox" data-role="rainfed_land_gaez">
                                        <label><input type="checkbox" value="">{{{rainfed_land_gaez}}}</label>
                                    </div>
                                    <div class="checkbox" data-role="wheat">
                                        <label><input type="checkbox" value="">{{{wheat}}}</label>
                                    </div>
                                    {{#if this.addWheatAreaAFG}}
                                        <div class="checkbox" data-role="wheat_area">
                                            <label><input type="checkbox" value="">{{{wheat_area}}}</label>
                                        </div>
                                    {{/if}}
                                    {{#if this.addHotspot}}
                                        <div class="checkbox" data-role="hotspot">
                                            <label><input type="checkbox" value="">{{{hotspot}}}</label>
                                        </div>
                                    {{/if}}

                                    <h4>Administrative Boundaries</h4>
                                    <div class="checkbox" data-role="eco_region">
                                        <label><input type="checkbox" value="">{{{eco_region}}}</label>
                                    </div>
                                    {{#if this.addGaul1}}
                                        <div class="checkbox" data-role="gaul1">
                                            <label><input type="checkbox" value="">{{{gaul1}}}</label>
                                        </div>
                                    {{/if}}
                                    {{#if this.addZonalStats}}
                                        <h4>Zonalstats</h4>
                                        <div class="checkbox" data-role="zonalstats_gaul1">
                                            <label><input type="checkbox" value="">{{{zonalstats_gaul1}}}</label>
                                        </div>
                                    {{/if}}
                                </div>
                                <div class='col-xs-10'>
                                    <div data-role="map" style="height: 600px; overflow: hidden;"></div>
                                    <br>
                                    <div data-role="chart"></div>
                                    {{#if this.addZonalStats}}
                                        <br>
                                        <div data-role="zonalstats_gaul1_table"></div>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        <h5 class='pull-right'>{{{footer_text}}}</h5>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</script>