<script type='text/x-handlebars-template' id='wsp_ui_structure'>
    <div class="container-fluid" style="margin-top:3px;">
        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
            <li class="active"><a href="#wsp-landing" data-toggle="tab">Overview</a></li>
            <li><a href="#wsp-tool" data-toggle="tab">Climate monitoring</a></li>
        </ul>
        <div id="wsp-tab-content" class="tab-content">

            <div class="tab-pane active" id="wsp-landing" style="margin-top:25px;">
                <div class='row'>
                    <div class='col-xs-2'>
                        <h4>{{{selectable_layers}}}</h4>
                        <input type="checkbox" id="population_landscan" value="" checked><label data-role="population_landscan" for="population_landscan">{{{population_landscan}}}</label>
                        <input type="checkbox" id="cultivated_land_gaez_2010" value=""><label data-role="cultivated_land_gaez_2010" for="cultivated_land_gaez_2010">{{{cultivated_land_gaez_2010}}}</label>
                        <input type="checkbox" id="irrigated_areas_solaw_2012" value=""><label data-role="irrigated_areas_solaw_2012" for="irrigated_areas_solaw_2012">{{{irrigated_areas_solaw_2012}}}</label>
                        <input type="checkbox" id="rainfed_land_gaez" value=""><label data-role="rainfed_land_gaez" for="rainfed_land_gaez">{{{rainfed_land_gaez}}}</label>
                        <input type="checkbox" id="wheat" value=""><label data-role="wheat" for="wheat">{{{wheat}}}</label>
                        <h4>Administrative Boundaries</h4>
                        <input type="checkbox" id="eco_region" value=""><label data-role="eco_region" for="eco_region">{{{eco_region}}}</label>
                    </div>
                    <div class='col-xs-10'>
                        <div data-role="map" style="height: 700px; overflow: hidden;"></div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="wsp-tool">
                {{#each box}}
                    <div id='{{box_id}}'>
                        <div class='row'>
                            <div class='col-xs-12'>
                                <h1>{{{box_title}}}</h1>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-xs-4'>
                                <select style='width: 100%;' data-role="dd" class='select2'>
                                </select>
                            </div>
                            <div class='col-xs-2'>
                                <input type="checkbox" id="anomaly{{{box_id}}}" value=""><label data-role="anomaly" for="anomaly{{{box_id}}}">{{{anomaly}}}</label>
                            </div>
                            <div class='col-xs-2'>
                                <input type="checkbox" id="anomaly_dpy{{{box_id}}}" value=""><label data-role="anomaly_dpy" for="anomaly_dpy{{{box_id}}}">{{{anomaly_dpy}}}</label>
                            </div>
                            {{#if this.addZscore}}
                                <div class='col-xs-2'>
                                    <input type="checkbox" id="zscore{{{box_id}}}" value=""><label data-role="zscore" for="zscore{{{box_id}}}">{{{z_score}}}</label>
                                </div>
                            {{/if}}
                        </div>
                        <hr>
                        <div data-role='box-content' data-role="chart-content">
                            <div class='row'>
                                <div class='col-xs-2'>
                                    <h4>{{{selectable_layers}}}</h4>
                                    <input type="checkbox" id="population_landscan{{{box_id}}}" value=""><label data-role="population_landscan" for="population_landscan{{{box_id}}}">{{{population_landscan}}}</label>
                                    <input type="checkbox" id="cultivated_land_gaez_2010{{{box_id}}}" value=""><label data-role="cultivated_land_gaez_2010" for="cultivated_land_gaez_2010{{{box_id}}}">{{{cultivated_land_gaez_2010}}}</label>
                                    <input type="checkbox" id="irrigated_areas_solaw_2012{{{box_id}}}" value=""><label data-role="irrigated_areas_solaw_2012" for="irrigated_areas_solaw_2012{{{box_id}}}">{{{irrigated_areas_solaw_2012}}}</label>
                                    <input type="checkbox" id="rainfed_land_gaez{{{box_id}}}" value=""><label data-role="rainfed_land_gaez" for="rainfed_land_gaez{{{box_id}}}">{{{rainfed_land_gaez}}}</label>
                                    <input type="checkbox" id="wheat{{{box_id}}}" value=""><label data-role="wheat" for="wheat{{{box_id}}}">{{{wheat}}}</label>

                                    {{#if this.addWheatAreaAFG}}
                                        <input type="checkbox" id="wheat_area{{{box_id}}}" value=""><label data-role="wheat_area" for="wheat_area{{{box_id}}}">{{{wheat_area}}}</label>
                                    {{/if}}
                                    {{#if this.addHotspot}}
                                        <input type="checkbox" id="hotspot{{{box_id}}}" value=""><label data-role="hotspot" for="hotspot{{{box_id}}}">{{{hotspot}}}</label>
                                    {{/if}}

                                    <h4>Administrative Boundaries</h4>
                                    <input type="checkbox" id="eco_region{{{box_id}}}" value=""><label data-role="eco_region" for="eco_region{{{box_id}}}">{{{eco_region}}}</label>

                                    {{#if this.addGaul1}}
                                        <input type="checkbox" id="gaul1{{{box_id}}}" value=""><label data-role="gaul1" for="gaul1{{{box_id}}}">{{{gaul1}}}</label>
                                    {{/if}}
                                    {{#if this.addZonalStats}}
                                        <h4>Zonalstats</h4>
                                        <input type="checkbox" id="zonalstats_gaul1{{{box_id}}}" value=""><label data-role="zonalstats_gaul1" for="zonalstats_gaul1{{{box_id}}}">{{{zonalstats_gaul1}}}</label>
                                    {{/if}}
                                </div>
                                <div class='col-xs-10'>
                                    <div data-role="map" style="height: 600px; overflow: hidden;"></div>
                                    <br>
                                    <div data-role="chart"></div>
                                    {{#if this.addZonalStats}}
                                        <br>
                                        <div data-role="zonalstats_gaul1_table"></div>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        <h4 style='font-size:11px;' class='pull-right'>{{{footer_text}}}</h4>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</script>